version: "3.8"

services:
  db:
    image: postgres:18-alpine
    container_name: keystone_db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - keystone_net

networks:
  keystone_net:
    driver: bridge

volumes:
  db_data:
